LOCATE COMP "clk" SITE "A10";
IOBUF PORT "clk" IO_TYPE=LVCMOS33;

LOCATE COMP "spi_clk" SITE "F1";
LOCATE COMP "spi_mosi" SITE "G1";
LOCATE COMP "spi_miso" SITE "J5";
LOCATE COMP "spi_csn" SITE "K3";

LOCATE COMP "lightbulb" SITE "K5";

LOCATE COMP "led[0]" SITE "A13";
LOCATE COMP "led[1]" SITE "A12";
LOCATE COMP "led[2]" SITE "B19";
LOCATE COMP "led[3]" SITE "A18";
LOCATE COMP "led[4]" SITE "B18";
LOCATE COMP "led[5]" SITE "C17";
LOCATE COMP "led[6]" SITE "A17";
LOCATE COMP "led[7]" SITE "B17";

IOBUF PORT "spi_clk" IO_TYPE=LVCMOS33;
IOBUF PORT "spi_mosi" IO_TYPE=LVCMOS33;
IOBUF PORT "spi_miso" IO_TYPE=LVCMOS33;
IOBUF PORT "spi_csn" IO_TYPE=LVCMOS33;

IOBUF PORT "lightbulb" IO_TYPE=LVCMOS33;

IOBUF PORT "led[0]" IO_TYPE=LVCMOS33;
IOBUF PORT "led[1]" IO_TYPE=LVCMOS33;
IOBUF PORT "led[2]" IO_TYPE=LVCMOS33;
IOBUF PORT "led[3]" IO_TYPE=LVCMOS33;
IOBUF PORT "led[4]" IO_TYPE=LVCMOS33;
IOBUF PORT "led[5]" IO_TYPE=LVCMOS33;
IOBUF PORT "led[6]" IO_TYPE=LVCMOS33;
IOBUF PORT "led[7]" IO_TYPE=LVCMOS33;
