[submodule "deps/riscv-coq"]
	path = deps/riscv-coq
	url = https://github.com/mit-plv/riscv-coq.git
[submodule "deps/coqutil"]
	path = deps/coqutil
	url = https://github.com/mit-plv/coqutil.git
[submodule "deps/kami"]
	path = deps/kami
	url = https://github.com/mit-plv/kami.git
	branch = rv32i
