CoqMakefile.conf
Makefile.coq
Makefile.coq.conf
Makefile.coq.lib
Makefile.coq.lib.conf
*.o
*.vo
*.vok
*.vos
*.v~
*.d
*.glob
*.aux
*.cache
*.timing
.coq-native

/src/Rupicola/Examples/Uppercase/ubench_c
/src/Rupicola/Examples/Uppercase/ubench_rupicola
/src/Rupicola/Examples/Uppercase/upstr_rupicola.c
/src/Rupicola/Examples/Utf8/ubench_rupicola
/src/Rupicola/Examples/Utf8/ubench_skeeto
/src/Rupicola/Examples/Utf8/utf8_rupicola.c
