[submodule "deps/bbv"]
	path = deps/bbv
	url = ../../mit-plv/bbv.git
[submodule "deps/riscv-coq"]
	path = deps/riscv-coq
	url = ../../mit-plv/riscv-coq.git
[submodule "deps/coqutil"]
	path = deps/coqutil
	url = ../../mit-plv/coqutil.git
[submodule "deps/kami"]
	path = deps/kami
	url = ../../mit-plv/kami.git
